# Cambia 'tu_password' por la que pusiste al instalar PostgreSQL
DATABASE_URL=postgresql://postgres:tucontraseña@localhost:5432/casenova_db
NODE_ENV=development
PORT=3000

JWT_SECRET=
JWT_REFRESH_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=